* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*imagen de la casa de fondo cabeza*/
.fondo{
  width: 100%;
  height: 100vh;
  object-fit: cover;
}

body{
  height: 500vh;

}
nav{
   width: 100%;
   height: 50px;
   background-color: rgba(195, 211, 181, 0.26);
   display: grid;
   grid-template-columns: 3fr 1fr 1fr;
   align-items: center;
   position: fixed;
   top: 0;
   border: #FFFFFF 1PX;
   
}
/*parte de los botones que estan en la casa de fondo*/
.contenedor{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  

}

.Prime{
  display: grid;
  position: absolute;
  top: 400px;
  margin-left: 5vw;
  color: #FFFFFF;
  justify-self: self-end;
  gap: 10px;
  
}
.Lupa{
  width: 30px; 
}
.flecha{
  width: 20px;
}
h2{
  color:#B4B7B7;
}
h1{
  color: #FFFFFF;
}
.Cabeza{
  background-color: transparent;
  border-color:#FFFFFF;
  border-radius: 100px;
  padding: 10px 20px;
  color: #FFFFFF;
  border: 1px solid;
  width: fit-content;
  margin-right: 20px;
}

/*parte invertida*/
.Tod{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: autopx 45px 5px 25px 25px 25px;
  width: 50px;
  justify-items: center;
  position: fixed;
  top: 100px;
}
.Rayita{
  height: 30px;
  width: 20px;
  border-left: 1px solid;
  margin-top: 20px;
  margin-left: 20px;
}
.Rot{
  transform: rotate(90deg);
  display: inline-block;
}





/*parte invertida*/
.Imag{
  width: 20px;
}

  /*primera parte*/
   #Logo {
    margin-left: 80px;
    width: 30%;
  }
  /*segunda*/
   .links{
    display:grid;
    grid-template-columns: 1fr 1px 1fr;
    align-items: center;
    justify-items: center;
   }
   /*tercera*/
   .idioma{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    
  }
   a {
    text-decoration: none;
    color:blanchedalmond;
    
   }
    .hambur{
      width: 40%;
    }
    .grey{
      color: rgb(128, 128, 128);
    }
    .barra{
      height: 100%;
      width: 1px;
      background-color: white;
    }
    .circulo{
      width:  20%;
      align-items: center;
      justify-items: center;
      display: none;
    }
  
    /*parte de las 3 casas*/
    .secc{
      display: grid;
      grid-template-columns: 1fr 1fr;
      
    }
    .card{
      display: grid;
      position: relative;
     
      grid-template-columns:  repeat(12, 1fr);
      width: 100px;
      column-gap: 30px;
      margin-top: 10px;
      margin-bottom: 10px;      
    }
    
    .one{
      grid-column: span 2;  
    }

    .two{
       grid-column: span 5;
    }

    .three{
        grid-column: span 5; 
      
      }
    .imagen{
        width: 100%;
        height: 100%;
        
       }
       
    .t5{
      color: white;
      position: absolute;
      transform: translateY(-100%);
      display: grid;
      font-size: 20px;
      padding: 20px;  
    }
    .t6{
      color: black;
      background-color: white;
      position: absolute;
      transform: translateY(-100%);
      display: grid;
      font-size: 20px;
      padding: 30px; 
      text-align: center;
      
    }
    /*parte contenido*/
    .contenido{
      display: grid;
      padding-right: 20px;
    }
    .textoss{
      font-size: 30px;
      text-align: right;
    }
    .azul{
      color: #DF991B;
      size: 40px;
      line-height: 45px;
    }
    .propi{
      color: #000000;
      size: 80px;
      line-height: 45px;
    }
    .botones{
      display: grid;
      grid-template-columns:  1fr 5fr 1fr;
      align-items: center;
    } 
    /*BOTONES PREV Y NEXT*/
    .direcciones1{
      background-color: transparent;
      border: none;
      color: #B4B7B7;
      size: 20px;
      line-height: 45px;
    }
    .direcciones2{
      background-color: transparent;
      border: none;
      color: #DF991B;
      size: 20px;
      line-height: 45px;
    }
    /*boton del medio*/
    .bmedio{
      background-color: transparent;
      border-radius: 100px;
      height: fit-content;
      color: #000000;
      size: 30px;
      line-height: 45px;
      align-content: center;
      border: solid 1px #000000;
      padding: 10px;
      font-size: 15px;
      
   

    }



    @media (max-width: 700px)
    {
     #Logo{
      display: none;
     }
     .idioma{
      display: none;
     }
     .links{
      display: none;
    }
     .hambur{
      display: inline;
     }
     .circulo{
      display: inline;
      margin-left: 30px;
      
    }
    /*parte del boton*/
    .secc{
      grid-template-columns: 1fr;
    }
    .textoss{
      display: none;
    }
    .imagen1{
      display:none;
    }
    .two{
      grid-column:  span 10;

    }
    .three{
      grid-column:  span 2;
    }
    }
  
    
    