* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.fondo{
  width: 100%;
  height: 100vh;
  object-fit: cover;
}
body{
  height: 500vh;

}
nav{
   width: 100%;
   height: 50px;
   background-color: transparent;
   display: grid;
   grid-template-columns: 3fr 1fr 1fr;
   align-items: center;
   position: fixed;
   top: 0;
   
}
  /*primera parte*/
   #Logo {
    margin-left: 80px;
    width: 30%;
  }
  /*segunda*/
   .links{
    display:grid;
    grid-template-columns: 1fr 1px 1fr;
    align-items: center;
    justify-items: center;
   }
   /*tercera*/
   .idioma{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    
  }
   a {
    text-decoration: none;
    color:blanchedalmond
   }
    .hambur{
      width: 40%;
    }
    .grey{
      color: rgb(128, 128, 128);
    }
    .barra{
      height: 100%;
      width: 1px;
      background-color: white;
    }
    .circulo{
      width:  20%;
      align-items: center;
      justify-items: center;
      display: none;
    }
  
    /*parte de las 3 casas*/
    .secc{
      display: grid;
      grid-template-columns: 1fr 1fr;
    }

    .card{
      display: grid;
      grid-template-columns: repeat(12, 1fr);
      position: relative;
      width: 100px;
      gap: 10px;
      
    }
    
    .one{
       grid-column: span 2;
       width: 100%;
       height: 100%;
       
    }
    .two{
       grid-column: span 5;
        
    }

    .three{
        grid-column: span 5;
    }
  
    
    h5{
      color: black;
      position: absolute;
     }
     h6{
      color: blue;
      pointer-events:initial;
     }



    @media (max-width: 700px)
    {
     #Logo{
      display: none;
     }
     .idioma{
      display: none;
     }
     .links{
      display: none;
    }
     .hambur{
      display: inline;
     }
     .circulo{
      display: inline;
      margin-left: 30px;
      
    }
    }
  
    
    