* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family:'pfregal';
  src: url('./fuentes/PFRegalDisplayPro-Regular.ttf');
}
@font-face {
  font-family: 'brandon';
  src: url('./fuentes/brandon grotesque/static/brandon-grotesque-font-family-1744015910-0/HvDTrial_Brandon_Grotesque_regular_italic-BF64a625c94445e.otf');
}

h1, h2{
  font-family:'pfregal';
}

/*imagen de la casa de fondo cabeza*/
.fondo{
  width: 100%;

  height: 100vh;
  object-fit: cover;
}


body{
  height: 500vh;

}
nav{
   width: 100%;
   height: 50px;
   background-color: rgba(195, 211, 181, 0.26);
   display: grid;
   grid-template-columns: 3fr 1fr 1fr;
   align-items: center;
   position: fixed;
   top: 0;
   border: #FFFFFF 1PX;
   
}
.lupa2{
  display: none;
}
/*parte 3 rayitas*/
 
.contCuadrito{
  display: grid;
  grid-template-columns:5fr 1fr 1fr 1fr 5fr;
  position: absolute;
  top: 90vh;
  width: 100%;
}
.cuadrito{
  height: 5px;
  width: 31.5px;
  background-color:#B4B7B7;
  margin-right: 10px;
 
}
/*parte de los botones que estan en la casa de fondo*/
.contenedor{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  

}

.Prime{
  display: grid;
  position: absolute;
  top: 400px;
  margin-left: 5vw;
  color: #FFFFFF;
  justify-self: self-start;
  gap: 10px;
 
  
}
/*conflicto*/
.buscador{
  display: grid;
  position: absolute;
  top: 80px;
  justify-self: end ;
  padding: 50px;
}
.ok{
  
    background-color: transparent;
    border: solid 1px #FFFFFF;
    border-radius: 100px;
    padding: 10px 20px;
    font-size: 20px;
}
.Lupa{
  width: 30px;
  display: grid;
  position: relative;
  justify-self: end;
  top: -35px;
  margin-right: 20px;
}
.flecha{
  width: 20px;
}
h2{
  color:#B4B7B7;
}
h1{
  color: #FFFFFF;
}
.Cabeza{
  background-color: transparent;
  border-color:#FFFFFF;
  border-radius: 100px;
  padding: 10px 20px;
  color: #FFFFFF;
  border: 1px solid;
  width: fit-content;
  margin-right: 20px;
}

/*parte invertida*/
.Tod{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: autopx 45px 5px 25px 25px 25px;
  width: 50px;
  justify-items: center;
  position: fixed;
  top: 100px;
}
.Rayita{
  height: 30px;
  width: 20px;
  border-left: 1px solid;
  margin-top: 20px;
  margin-left: 20px;
}
.Rot{
  transform: rotate(90deg);
  display: inline-block;
}





/*parte invertida*/
.Imag{
  width: 20px;
}

  /*primera parte*/
   .Logo {
    margin-left: 80px;
    width: 30%;
  }
  .circc{
    display: none;
  }
  /*segunda*/
   .links{
    display:grid;
    grid-template-columns: 1fr 1px 1fr;
    align-items: center;
    justify-items: center;
   }
   /*tercera*/
   .idioma{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    
    
  }
   a {
    text-decoration: none;
    color:blanchedalmond;
    
   }
    .hambur{
      width: 40%;
    }
    .grey{
      color: rgb(128, 128, 128);
    }
    .barra{
      height: 100%;
      width: 1px;
      background-color: white;
    }
    .circulo{
      width:  20%;
      align-items: center;
      justify-items: center;
      display: none;
    }


  
    /*parte de las 3 casas*/
    .secc{
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      
    }
    .card{
      display: grid;
      position: relative;
      grid-template-columns:  repeat(12, 1fr);
      
      column-gap: 10px;
      margin-top: 5px;
      margin-bottom: 20px;      
    }
    
    .one{
      grid-column: span 2;  
    }

    .two{
       grid-column: span 5;
    }

    .three{
        grid-column: span 5; 
        position: relative;
      }
    .imagen{
        width: 100%;
        height: 90%;
        object-fit: cover;
       }
       
    .t5{
      color: white;
      position: absolute;
      transform: translateY(-100%);
      display: grid;
      font-size: 20px;
      padding: 20px;
      font-family:'pfregal';  
    }
    .t6{
      color: black;
      background-color: white;
      position: absolute;
      transform: translateY(-100%);
      display: grid;
      font-size: 20px;
      padding: 30px; 
      text-align: justify;
      text-align-last: start;
      width: 100%;
      font-family:'pfregal';
      
    }
    p{
      font-family:'pfregal';
      font-weight: 200;
    }
    /*parte texto 8 fotos mas oscuro*/
    .parra{
      size: 40px;
      line-height: 45px;
      font-size: 20px;
      font-weight: 800;
    }

    
    /*parte contenido*/
    .contenido{
      display: grid;
      padding-right: 40px;
      
    }
    .textoss{
      font-size: 30px;
      text-align: right;
    }
    .azul{
      color: #DF991B;
      size: 40px;
      line-height: 45px;
      font-family:'pfregal';
      
    }
    .propi{
      color: #000000;
      size: 80px;
      line-height: 45px;
      font-family:'pfregal';
    }
    .botones{
      display: grid;
      grid-template-columns:  1fr 5fr 1fr;
      align-items: center;
      padding-right: 40px;
      
    } 
    /*BOTONES PREV Y NEXT*/
    .direcciones1{
      background-color: transparent;
      border: none;
      color: #B4B7B7;
      size: 20px;
      line-height: 45px;
    }
    .direcciones2{
      background-color: transparent;
      border: none;
      color: #DF991B;
      size: 20px;
      line-height: 45px;
    }
    /*boton del medio*/
    .bmedio{
      background-color: transparent;
      border-radius: 100px;
      height: fit-content;
      color: #000000;
      size: 30px;
      line-height: 45px;
      align-content: center;
      border: solid 1px #000000;
      padding: 1%;
      font-size: 15px;
      

    }

   
    


    .fultima{
      text-align: end;
    }



    @media (max-width: 700px)
    {
     .Logo{
      display: none;
     }
     nav{
      width: 100%;
      height: 50px;
      background-color: rgba(195, 211, 181, 0.26);
      display: grid;
      grid-template-columns: 1fr 1fr;
      align-items: center;
      position: fixed;
      top: 0;
      border: #FFFFFF 1PX;
      
   }
     
     .lupa2{
      display: inline;
      width: 15px;
      margin-left: 20px;
     }
      .lup{
      width: 25px;
      margin-left: -22px;
     }
     
     .grey{
      display: none;
     }
     .links{
      display: none;
    }
     
     
    /*parte del boton*/
    .secc{
      grid-template-columns: 1fr;
      width: 100%;
    }
    .textoss{
      display: none;
    }
    .t5{
      display: none;
    }
    .t6{
      display: none;
    }
    .one{
      display: none;
    }
    .contenido{
      display: none;
    }
     /*parte invertida*/
       .Tod{
        display: none;
       }
       .Lupa{
        display: none;
       }

       .contenedor, .buscador{
        left: 22px;
        right: 22px;
        justify-self: center;
       }



    .imagen1{
      display:none;
    }
    .two{
      grid-column:  span 10;

    }
    .three{
      grid-column:  span 2;
    }

    #luxu, h3, h4{
      text-align: start;
    }

    /*8 fotos a 3*/

       .galeria{
        display: none;
       }
       .cambio{
        display: grid;
        grid-template-columns: 1fr;
        
       }
       .cambio, img{
        width: 100%;

       }

    /*ultima parte*/
    
    footer
    
      .gris{
        display: none;
      }
      .enlaces{
        grid-template-columns: 1fr 1fr;
      }
      .fprimera{
        margin-top: 10px;
        grid-column: span 2;
      }
      .medio, .tres{
        justify-self: baseline;
        margin-top: 15px;
      }
      .fultima{
        grid-column: span 2;
        margin-top: 50px;
        justify-self: baseline;
        text-align: left;
        margin-bottom: 20px;
      }
        .copy{
          display: none;
        }
        .idioma{
          justify-items: end;
          grid-template-columns: 1fr;
          width: 40%; 
        }
        .hambur{
          margin-right: -115%;
          width: 30%;
          
        }
        .Prime{
          justify-self: center;
        
        }
        
       .Cabeza{
        padding-left: 160px;
        padding-right: 160px;
       } 
       .cambios1{
        display: grid;
        position: relative;
        top: -455px;
        gap: 10px;
        margin-left: 15vw;
        color: #FFFFFF;
        font-family:'pfregal';
        font-weight: 200;
       }
        
      }